@charset "utf=8";

/* 영문폰트 @import url */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Imperial+Script&family=Pacifico&display=swap');

/* 한글폰트 @import url */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');



/* 영문폰트 font-family */
.noto_mono_en {font-family: 'Noto Sans Mono', monospace;}
.noto_serif_en {font-family: 'Noto Serif', serif;}
.oswald {font-family: 'Oswald', sans-serif;}
.robot {font-family: 'Roboto', sans-serif;}
.robot_condensed {font-family: 'Roboto Condensed', sans-serif;}
.robot_mono {font-family: 'Roboto Mono', monospace;}
.zen_antique {font-family: 'Zen Antique', serif;}
.poppins {font-family: 'Poppins', sans-serif;}
.merriweather {font-family: 'Merriweather', serif;}
.hind {font-family: 'Hind Siliguri', sans-serif;}
.lora {font-family: 'Lora', serif;}
.quicksand {font-family: 'Quicksand', sans-serif;}
.titillium {font-family: 'Titillium Web', sans-serif;}
.heedo {font-family: 'Heebo', sans-serif;}
.oxyzen {font-family: 'Oxygen', sans-serif;}
.lobert {font-family: 'Lobster', cursive;}
.bitter {font-family: 'Bitter', serif;}
.anton {font-family: 'Anton', sans-serif;}
.arvo {font-family: 'Arvo', serif;}
.cookie {font-family: 'Cookie', cursive;}
.dancingscript {font-family: 'Dancing Script', cursive;}
.greatvibes {font-family: 'Great Vibes', cursive;}
.imperialscript {font-family: 'Imperial Script', cursive;}
.pacifico {font-family: 'Pacifico', cursive;}
.vidaloka {font-family: 'Vidaloka', serif;}

/* 한글폰트 font-family */
.noto_sans_kr {font-family: 'Noto Sans KR', sans-serif;}
.noto_serif_kr {font-family: 'Noto Serif KR', serif;}
.nanum_gothic {font-family: 'Nanum Gothic', sans-serif;}
.nunum_meongjo {font-family: 'Nanum Myeongjo', serif;}
.nanum_pen {font-family: 'Nanum Pen Script', cursive;}
.black_hans {font-family: 'Black Han Sans', sans-serif;}
.gowun {font-family: 'Gowun Batang', serif;}
.songmyung {font-family: 'Song Myung', serif;}
.ibm {font-family: 'IBM Plex Sans KR', sans-serif;}
.dohyeon {font-family: 'Do Hyeon', sans-serif;}
.inter {font-family: 'Inter', sans-serif;}
.gowun {font-family: 'Gowun Batang', serif;}
